<div class="block">
    <ul>
        <li>
            <h1>Sign Up</h1>
        </li>
        <li>
            <input type="text" class="form-control" id="accountId" placeholder="User account Id">
        </li>
        <li>
            <input type="password" class="form-control" id="accountPwd" placeholder="Account password">
        </li>
        <li>
            <input type="password" class="form-control" id="renterpwd" placeholder="Re-enter password">
        </li>
        <li>
            <input id="actMailId" type="text" class="form-control" placeholder="Enter mail id">
        </li>
        <li>
            <input type="button" value="Sign Up" class="btn btn-primary btn-lg" onclick="signupNewUser()"><br>
            <p class="mt-3  text-color">Already have an account? <a href="#" onclick="loadSelectedPage('login')" class="link text-color">Sign In</a></p>
        </li>
        <li class="successSignup">
            You got successfuly signedup... Pelase try login
        </li>
    </ul>
</div>