<div class="productDetailsPage">
    <div>
      <ul id="sideNavBar" class="nav nav-pills nav-underline flex-column">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="getCategoryProducts('women\'s clothing')" >women's clothing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="getCategoryProducts('men\'s clothing')">men's clothing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="getCategoryProducts('jewelery')">jewelery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="getCategoryProducts('electronics')">electronics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="getCategoryProducts('Mens Shoes')">Mens Shoes</a>
        </li>
      </ul>
    </div>
    <br>
    <div class="" style="display: none;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white" onclick="getCategoryProducts('women\'s clothing')">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                  women's clothing
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white" onclick="getCategoryProducts('men\'s clothing')">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                  men's clothing
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white" onclick="getCategoryProducts('jewelery')">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                  jewelery
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white" onclick="getCategoryProducts('electronics')">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                  electronics
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white" onclick="getCategoryProducts('Mens Shoes')">
                  <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                  Mens Shoes
                </a>
              </li>
            </ul>
            <hr>
          </div>
    </div>
    <div>
        <div class="productDetailsContainer">
    
        </div>
    </div>
</div>

